*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #070537, #570e4f, #9f1a50, #d44b3c, #eb8c12);
    background-repeat: no-repeat;
}
div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eb8c12;
}