* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body {
  background-color: darkgrey;
}
.heading h1 {
  color: blueviolet;
  font-size: 40px;
}
input {
  padding: 10px 16px;
  font-size: 22px;
  border-radius: 10px;
}
.btn button {
  padding: 12px 18px;
  width: fit-content;
  font-size: 18px;
  background-color: crimson;
  border-radius: 10px;
  cursor: pointer;
}
