* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: gray;
  font-family: "Alkatra", cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  row-gap: 50px;
}

.car-rental-tittle {
  font-size: 25px;
  color: chartreuse;
}

input,
select,
button {
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 10px;
  color: blue;
  text-align: center;
  font-family: "Alkatra", cursive;
}

button:hover {
  color: black;
  background-color: chartreuse;
  font-weight: 400;
  cursor: pointer;
}

/*Style For Hide Scroll Bar Within Input Type Number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
